services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    volumes:
      - ./src:/app/src

  redis:
    image: redis:8
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data

